In [55]:
import pandas as pd
import re
import nltk

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix, accuracy_score,classification_report

In [56]:
messages = pd.read_csv('Data.csv')

In [57]:
train = messages[messages['Date'] < '20150101']
test = messages[messages['Date'] > '20141231']

In [58]:
data = train.iloc[:,2:27]
data.replace("[^a-zA-Z]", ' ', regex=True,inplace=True)

list1= [ i for i in range(25)]
new_Index = (str(i) for i in list1)
data.columns=new_Index
print(new_Index)

<generator object <genexpr> at 0x000001D7880F7548>

### TO LOWER CASE

In [59]:
for index in data.columns:
    data[index] = data[index].str.lower()
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,a hindrance to operations extracts from the...,scorecard,hughes instant hit buoys blues,jack gets his skates on at ice cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,derby raise a glass to strupar s debut double,southgate strikes leeds pay the penalty,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl s successor drawn into scandal,the difference between men and women,sara denver nurse turned solicitor,diana s landmine crusade put tories in a panic,yeltsin s resignation caught opposition flat f...,russian roulette,sold out,recovering a title

### Convert to a paragraph

In [60]:
headlines = []
for row in range(0,len(data.index)):
    headlines.append(' '.join(str(x) for x in data.iloc[row,0:25]))

### Bag of Words Model

In [61]:
countvector = CountVectorizer(ngram_range=(2,2))
traindataset = countvector.fit_transform(headlines)

### ML Model

In [62]:
classifier = RandomForestClassifier(n_estimators=200,criterion='entropy')
classifier.fit(traindataset,train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [63]:
test_transform = []
for row in range(0,len(test.index)):
    test_transform.append(' '.join(str(x) for x in test.iloc[row,0:25]))
test_dataset = countvector.transform(test_transform)
predictions = classifier.predict(test_dataset)

In [64]:
cm = confusion_matrix(test['Label'],predictions)
acc = accuracy_score(test['Label'],predictions)
cr = classification_report(test['Label'],predictions)
print(cr,cm,acc)

              precision    recall  f1-score   support

           0       0.96      0.74      0.84       186
           1       0.79      0.97      0.87       192

    accuracy                           0.86       378
   macro avg       0.88      0.86      0.85       378
weighted avg       0.88      0.86      0.86       378
 [[138  48]
 [  6 186]] 0.8571428571428571